<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="home-container">
    <h1>United Earth Space Exploration Command (UESEC)</h1>
    <img
      class="center-image"
      src="/images/body.png"
      alt="space image"
    >
  </div>
</body>
</html>
